<!DOCTYPE html>

<section class="trainers-main">
    <h1><em style="color:#12F0F0">POKEMON MASTERS</em></h1>

    <section class="trainers-inner">
        <section class="trainer-card">
            <img src="../img/ash.jpg" alt="Ash">
            <h4>Ash Ketchum</h4>
            <p>Can't win.</p>
        </section>

        <section class="trainer-card">
            <img src="../img/gary.jpg" alt="Gary">
            <h4>Gary Oak</h4>
            <p>Rival.</p>
        </section>
    </section>

    <button ui-sref="starters">Choose your starter pokemon</button>

</section>
