.about-main {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 25px;
    text-align: center;
    background-color: red;
    height: 240px
}

.about-image img {
    width: 100%;
    height:100%;;
}





.about-inner-intro h1 {
    width: 100%;
    font-size: 3rem;
    color: #000;
    margin-bottom: 30px;
    justify-content: center;
    text-align: center;
}

.about-inner-intro p {
    width: 80%;
    font-size: 1.1rem;
    color: #000;
    margin-bottom: 30px;
}

.about-inner-intro button {
    width: 50%;
    font-size: 1.1rem;
    color: #FFF;
    background: #12F0F0;
    padding: 10px;
    border-radius: 6px;
    justify-content: center;
}

.about-inner-intro button:hover {
    background: #ccc;
}
